[workspace]
authors = ["Allen Guo <guosonglin001@gmail.com>"]
channels = ["conda-forge"]
name = "paper-xyz"
platforms = ["osx-arm64"]
version = "0.1.0"

[tasks]

# default
[dependencies]
python = "3.13.*"
uv = ">=0.10.5,<0.11"
ruff = ">=0.15.2,<0.16"
ty = ">=0.0.18,<0.0.19"
pre-commit = ">=4.5.1,<5"

ripgrep = ">=15.1.0,<16"
fzf = ">=0.68.0,<0.69"
fd-find = ">=10.3.0,<11"
difftastic = ">=0.65.0,<0.66"

pytorch = ">=2.10.0,<3"
torchvision = ">=0.25.0,<0.26"
pdf2image = ">=1.17.0,<2"
openai = ">=2.24.0,<3"

# may needs a latest version, check `activation.env`
"llama.cpp" = ">=7880,<7881"

[pypi-dependencies]
requests = ">=2.32.5, <3"
ty-extensions = ">=0.1.0, <0.2"

# https://github.com/py-pdf/pypdf
pypdf = ">=6.7.3, <7"
# https://github.com/pymupdf/PyMuPDF
pymupdf = ">=1.27.1, <2"
# https://github.com/pymupdf/pymupdf4llm
pymupdf4llm = ">=0.3.4, <0.4"

# markitdown
[feature.markitdown.dependencies]
python = "3.13.*"

[feature.markitdown.pypi-dependencies]
# https://github.com/microsoft/markitdown
# pixi add --pypi 'markitdown[pdf]' -f markitdown
markitdown = { version = ">=0.1.5, <0.2", extras = ["pdf"] }

# marker
[feature.marker.dependencies]
python = "3.13.*"

[feature.marker.pypi-dependencies]
# https://github.com/datalab-to/marker
marker-pdf = ">=1.10.2, <2"
# https://github.com/datalab-to/surya
surya-ocr = ">=0.17.1, <0.18"

# mlx
[feature.mlx.system-requirements]
macos = "16.0"

[feature.mlx.dependencies]
python = "3.13.*"
mlx = ">=0.30.6,<0.31"
mlx-lm = ">=0.30.7,<0.31"
mlx-vlm = ">=0.3.12,<0.4"
torchvision = ">=0.25.0,<0.26"

# ollama
[feature.ollama.dependencies]
ollama = ">=0.17.0,<0.18"

[environments]
# default is implicit
markitdown = { features = ["markitdown"], no-default-feature = true }
marker = { features = ["marker"], no-default-feature = true }
mlx = { features = ["mlx"], no-default-feature = true }
ollama = { features = ["ollama"], no-default-feature = true }

# TODO: add docling, fix deps conflicts
# https://github.com/docling-project/docling

# TODO: add MinerU
# https://github.com/opendatalab/MinerU

# TODO: add olmocr
# https://github.com/allenai/olmocr

# TODO: add opendataloader
# https://github.com/opendataloader-project/opendataloader-pdf

# TODO: add zerox
# https://github.com/getomni-ai/zerox

# TODO: add a new api way using llama-cpp/mlx-lm/vllm-metal
# with hf models like glm-ocr/deepseek-ocr/etc

[activation.env]
# https://github.com/ggml-org/llama.cpp/releases
PATH = "${PIXI_PROJECT_ROOT}/debug_agent/llama:${PATH}"
