[workspace]
authors = ["Allen Guo <guosonglin001@gmail.com>"]
channels = ["conda-forge"]
name = "paper-xyz"
platforms = ["osx-arm64"]
version = "0.1.0"

[tasks]

[dependencies]
python = "3.13.*"
uv = ">=0.10.5,<0.11"
ruff = ">=0.15.2,<0.16"
ty = ">=0.0.18,<0.0.19"

pypdf = ">=6.7.2,<7"

[pypi-dependencies]
pymupdf = ">=1.27.1, <2"
