[workspace]
authors = ["Allen Guo <guosonglin001@gmail.com>"]
channels = ["conda-forge"]
name = "paper-xyz"
platforms = ["osx-arm64"]
version = "0.1.0"

[tasks]

[dependencies]
python = "3.13.*"
uv = ">=0.10.5,<0.11"
ruff = ">=0.15.2,<0.16"
ty = ">=0.0.18,<0.0.19"

ripgrep = ">=15.1.0,<16"
fzf = ">=0.68.0,<0.69"
fd-find = ">=10.3.0,<11"
difftastic = ">=0.65.0,<0.66"

# https://github.com/py-pdf/pypdf
pypdf = ">=6.7.2,<7"

[pypi-dependencies]
# https://github.com/pymupdf/PyMuPDF
pymupdf = ">=1.27.1, <2"
# https://github.com/pymupdf/pymupdf4llm
pymupdf4llm = ">=0.3.4, <0.4"
# https://github.com/datalab-to/marker
marker-pdf = ">=1.10.2, <2"
# https://github.com/datalab-to/surya
surya-ocr = ">=0.17.1, <0.18"
# https://github.com/microsoft/markitdown
# pixi add --pypi 'markitdown[pdf]'
markitdown = { version = ">=0.1.5, <0.2", extras = ["pdf"] }

# TODO: add docling, fix deps conflicts
# https://github.com/docling-project/docling

# TODO: add MinerU
# https://github.com/opendatalab/MinerU

# TODO: add olmocr
# https://github.com/allenai/olmocr

# TODO: add opendataloader
# https://github.com/opendataloader-project/opendataloader-pdf
